body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #A3C052 !important;
}

.navbar {
    background-color: #91AA4A; 
    max-height: 22vh;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.navbar-toggler {
    color: white;
    font-weight: bold; 
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-grid {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    justify-items: center !important;
    align-items: flex-start !important;
}

.nav-grid a i:hover {
    color: #ff6ec7;
}


.container, .bg {
    opacity: 1;
    transform: matix(1, 0, 0, 1, 0, 0);
    transform-style: preserve-3d;
}

.home-page {
    background-color: #A3C052;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 100vh;
    width: 100%;
    position: absolute;
}

.bg-logo {
    z-index: 0;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.text-place {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 12vh;
    margin-left: 5vw;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-place p {
    padding-top: 5vh;
    text-align: center;
    font-size: 1rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-place h2 {
    font-size: .9rem;
    font-family: sans-serif;
    text-align: start;
}

#text-block {
    font-size: 3vh;
} 

.projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-grid img {
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: all 1s;
}

.projects-grid img:hover {
    transform: scale(1.3);
}

.flat-button {
    color: #ff6ec7;
    font-size: 2vh;
    letter-spacing: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid #ff6ec7;
    padding: 10px 18px;
    margin-top: 6vh;
    margin-bottom: 2vh;
    max-width: 50vw;
    align-self: center;
}

/*#vide {
    width: 100vw;
    height: 100vh;
    position: fixed;
}*/

.footer-grid {
    color: white;
    background-color: #FDBD01; 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 6fr 1fr;
}

footer p {
    margin-left: 3vw;
}


/*
##Device = small devices and most phones 
*/

@media (min-width: 480px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* 
  ##Device = Most tablets
*/

@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .projects-grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    
    .projects-grid {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}